@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
  background-color: #000000;
  color: #FFFFFF;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}

/* ----SHARED STYLE---- */
.style-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-font {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
  display: flex;
}

.navbar, .banner, .sec-one, .sec-two, .sec-three, .sec-four, .sec-five, .footer-container{
  max-width: 1280px;
  margin: 0 auto;
}

.primary-color {
  color: #DE3D24;
}

.text-color {
  color: #FFFFFF;
}

.para-text-color {
  color: #696969;
}

.dark-bg-color{
  background-color: #000000;
}

.liner-bg-color{
  background-image: linear-gradient(to bottom, #000000, #0b0b0b, #131313, #191919, #1f1f1f, #1f1f1f, #1f1f1f, #1f1f1f, #191919, #131313, #0b0b0b, #000000);
}

.section-padding{
  padding: 0 13%;
}

.sec-title{
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 800;
}

.btn-primary{
  background-color: #DE3D24;
  color: #ffffff;
  padding: 15px 50px;
  font-size: 1.125rem;
  border-radius: 50px;
  border: none;
}

.btn-secondary{
  background-color: transparent;
  color: #ffffff;
  padding: 15px 50px;
  font-size: 1.125rem;
  border-radius: 50px;
  border: 3px solid #a1a1a1;
}


/* ----------HEADER STYLES----------- */
/* ---NAVBAR STYLES--- */
.navbar {
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand-name {
  margin-bottom: -10px;
}

.brand-logo {
  width: 180px;
}

.nav-items{
  border: 1px solid #ffffff1a;
  border-radius: 50px;
  padding: 3px;
}

.nav-links{
  gap: 20PX;
}

.nav-item {
  list-style: none;
  padding: 7px 20px;
}

#active-item{
  background-color: #DE3D24;
  border-radius: 50px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.menu-btn{
  display: none;
}

.menu-icon{
  width: 30px;
}

/* ---BANNER STYLES--- */
.banner{
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.banner-left-section{
  max-width: 550px;
}

.banner-title{
  font-size: 5rem;
  font-weight: 800;
  line-height: 5.5rem;
}

.banner-description{
  margin: 30px 0;
}

.banner-btn{
  gap: 15px;
  margin-bottom: 30px;
}
.mobile-btn{
  display: none;
}

.banner-right-section{
  position: relative;
}

.banner-img{
  width: 100%;
  padding: 0 30px;
}

.banner-tutorial-video{
  position: absolute;
  bottom: 50px;
  left: -80px;
  width: 210px;
  height: 100px;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: #3030308a;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.play-btn{
 width: 40px;
 height: 40px;
 background-color: #DE3D24;
 border-radius: 50%;
 padding: 10px;
 align-items: center;
 justify-content: center;
}

.play-icon{
  width: 15px;
}

.banner-tutorial-video h3{
  font-size: 1.5rem;
}

.banner-free-video{
  position: absolute;
  top: 150px;
  right: -80px;
  width: 210px;
  height: 100px;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: #3030308a;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.banner-free-video h3{
  font-size: 2.5rem;
  line-height: 3rem;
}


/* -------MAIN BODY STYLE--------*/
/* ---SECTION ONE (CHANGE YOUR HABIT) STYLE--- */
.sec-one{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.sec-one-content{
  margin-top: 100px;
  margin-bottom: 60px;
  max-width: 660px;
  text-align: center;
}

.sec-one-content > .sec-title{
  margin-bottom: 20px;
}

.sec-one-cart-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.sec-one-cart{
  padding: 20px;
  align-items: center;
  text-align: center;
}

.sec-one-img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid #a1a1a1;
}

.sec-one-cart-title{
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 10px;
}


/*---SECTION TWO (RUN MORE) STYLE--- */
.sec-two-content{
  padding: 30px;
  justify-content: space-between;
  background-color: #222222;
  border-radius: 20px;
}

.sec-two-left-section > .banner-description {
  margin: 20px 0;
}

.sec-two-left-section{
  padding-left: 30px;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.sec-two-left-section > .banner-btn {
  margin-bottom: 0px;
}

.sec-two-img{
  width: 100%;
  height: 315px;
  object-fit: cover;
  border-radius: 18px;
}

/* ---SECTION THREE (PRICING) STYLE--- */
.sec-three{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-three-content{
  margin-top: 100px;
  margin-bottom: 60px;
  max-width: 660px;
  text-align: center;
}

.sec-three-cart-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.sec-three-cart{
  padding: 50px;
  border: 2px solid #ffffff1a;
  border-radius: 20px;
}

.sec-three-cart-title{
  font-size: 2rem;
  margin-left: -20px;
}

.package-pricing{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #DE3D24;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  margin-left: -20px;
}

.price-list-item{
  margin-bottom: 10px;
}

.pricing-btn{
  margin-top: 20px;
  margin-left: -20px;
}

#best-Plan{
  background-color: #222222;
  transform: scale(1.1);
}




/*---SECTION FIVE (TEAM) STYLE--- */
.sec-five{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.sec-five-content{
  margin-top: 100px;
  margin-bottom: 60px;
  max-width: 660px;
  text-align: center;
}

.sec-five-content > .sec-title{
  margin-bottom: 20px;
}

.sec-five-cart-box{
  padding: 20px;
  background-color: #ffffff1a;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sec-five-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 18px;
}

.sec-five-cart {
  position: relative;
}

.sec-five-img-content{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sec-five-img-content > p{
  color: #818181;
}


/*---FOOTER STYLE---*/
.sec-footer{
  background-color: #ffffff1a
}
.footer-top-container{
  padding: 60px 0 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: end;
}

.footer-brand-logo{
  width: 300px;
}

.footer-description{
  margin: 30px 0;
}

.footer-bottom-container{
  padding: 30px 0;
  border-top: 2px solid #9999991a;
  text-align: center;
}

.footer-item{
  list-style: none;
  padding: 7px 0px;
}



/* ------------RESPONSIVE STYLES------------ */
/* ---MOBILE FRIENDLY--- */
@media screen and (max-width: 576px){

.section-padding {
  padding: 0px 5%;
}

.sec-title{
  font-size: 2rem;
  line-height: 2.5rem;
}

/* ---NAVBAR MOBILE RESPONSIVE--- */
.nav-items{
  display: none;
}

.menu-btn{
  display: block;
}

/* ---BANNER MOBILE RESPONSIVE--- */
.banner{
  flex-direction: column;
}

.banner-title{
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.5rem;
}

.mobile-btn{
  display: block;
}

.desktop-btn{
  display: none;
}

.btn-primary, .btn-secondary{
  padding: 12px 30px;
  font-size: 1rem;
}

.banner-tutorial-video{
  bottom: 150px;
  left: 10px;
}

.banner-free-video{
  top: -30px;
  right: 10px;
}

/* ---SECTION ONE (CHANGE YOUR HABIT) MOBILE RESPONSIVE--- */
.sec-one{
  margin-bottom: 60px;
}

.sec-one-cart-box{
  grid-template-columns: auto;
  gap: 20px;
}

.sec-one-content{
  margin-top: 30px;
}

.sec-one-cart{
  max-width: 300px;
}

/*---SECTION TWO (RUN MORE) MOBILE RESPONSIVE--- */
.sec-two-content{
  flex-direction: column;
}

.sec-two-left-section{
  padding-left: 0px;
}
.sec-two-left-section > .banner-btn > .btn-primary{
  width: 100%;
}
.sec-two-bg-img{
  margin-top: 20px;
  width: 100%;
}

/* ---SECTION THREE (PRICING) MOBILE RESPONSIVE--- */
.sec-three-cart-box{
  grid-template-columns: auto;
  gap: 20px;
}
.sec-three{
  margin-bottom: 0px;
}

.sec-three-content{
  margin-top: 60px;
}

#best-Plan{
  background-color: #222222;
  transform: scale(1);
}

/*---SECTION FIVE (TEAM) MOBILE RESPONSIVE--- */
.sec-five-content{
  margin-top: 60px;
}

.sec-five-cart-box{
  grid-template-columns: auto;
  gap: 20px;
}

.mobile-view{
  display: none;
}

/*---FOOTER MOBILE RESPONSIVE---- */
.footer-top-container{
  grid-template-columns: auto;
  gap: 20px;
  justify-items: start;
}

.footer-bottom-container{
  text-align: left;
}


}